<!-- templates/financas/relatorio.html -->
{% extends 'base.html' %}
{% load static %}
{% load l10n %}

    {% block page_title %}
    Relatório de Despesas e Receitas/Mes Atual
    {% endblock page_title %}

{% block content %}
<div class="container-sm" style="text-align: center;">
    <div class="table-responsive  mx-auto">
    <h2 style="text-align: center;">Despesas e Receitas do Mês Atual - ( {{ nmes|upper }} )</h2><br>
    
    <h3> </h3>
    <ul>
        <table class="table">
        <thead>
            
            <tr><td colspan="3" style="font-size: 16px;background: #cff4fc;"><img src="{% static 'img/despesas-64.png' %}" alt="" style="width: 32px;height: 32px;"> <b>Despesas do Mês</b></td></tr>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        
        {% for despesa in despesas_mes %}
        {% if forloop.counter0|divisibleby:2 %}
        <tr style="background-color: #e2e3e5;"><td>{{ despesa.descricao }}</td><td>{{ despesa.valor }}</td><td>{{ despesa.data }}</td></tr>
      {% else %}
        <tr style="background-color: #fff3cd;"><td>{{ despesa.descricao }}</td><td>{{ despesa.valor }}</td><td>{{ despesa.data }}</td></tr>
      {% endif %}
        {% endfor %}
    </table>
</ul>

<ul>
    <table class="table">
        <thead>
            
            <tr><td colspan="3" style="font-size: 16px;;background: #cff4fc;"><img src="{% static 'img/receitas-64.png' %}" alt="" style="width: 32px;height: 32px;"> <b>Receitas do Mês</b></td></tr>
            <tr>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
                <th scope="col">Data</th>
            </tr>
        </thead>
        {% for receita in receitas_mes %}
        {% if forloop.counter0|divisibleby:2 %}
        <tr style="background-color: #e2e3e5;"><td>{{ receita.descricao }}</td><td>{{ receita.valor }}</td><td>{{ receita.data }}</td></tr>
      {% else %}
        <tr style="background-color: #fff3cd;"><td>{{ receita.descricao }}</td><td>{{ receita.valor }}</td><td>{{ receita.data }}</td></tr>
      {% endif %}
        
        {% endfor %}
    </table>
    
    <table class="table">
        <thead>
        
        <tr><td colspan="3" style="font-size: 16px;;background: #cff4fc;"><img src="{% static 'img/resumo-64.png' %}" alt="" style="width: 32px;height: 32px;"> <b>Resumo do Mês</b></td></tr>
      <tr>
    </thead>
    <tr><td style="text-align: left;background-color: #e2e3e5;">Total de Despesas: <b>R$ {{ total_despesas|floatformat:2|localize  }}</b></td></tr>
    <tr><td style="text-align: left;background-color: #fff3cd;">Total de Receitas: <b>R$ {{ total_receitas|floatformat:2|localize  }}</b></td></tr>
    <tr><td style="text-align: left;background-color: #e2e3e5;">Saldo do Mês: <b>R$ {{ saldo_mes|floatformat:2|localize  }}</b></td></tr>
    <tr><td><a href="{% url 'listar_despesas' %}">Voltar para Lista de Despesas</a> <a href="{% url 'listar_receitas' %}">Voltar para Lista de Receitas</a></td></tr>
    <tr><td></td></tr>
</table></div>
</div>
{% endblock content %}

